<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="otto.com.sdk">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage"/>
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.START_VIEW_PERMISSION_USAGE"
    tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
  <uses-sdk
    android:minSdkVersion="19"
    tools:overrideLibrary="org.koin.androidx.compose,com.example.widget, androidx.compose.ui.platform, androidx.compose.material.icons, androidx.activity.compose, androidx.compose.ui.tooling, androidx.compose.ui.tooling.data, androidx.compose.material.ripple, androidx.compose.foundation, androidx.compose.animation, androidx.compose.foundation.layout, androidx.compose.ui.text, androidx.compose.ui.graphics, androidx.compose.ui.unit, androidx.compose.ui.util, androidx.compose.ui.geometry, androidx.compose.runtime.saveable, androidx.compose.animation.core,androidx.lifecycle.viewmodel.compose,androidx.compose.ui.tooling.preview"
    />
  <application
    android:requestLegacyExternalStorage="true"
    >
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths"/>
    </provider>
    <activity
        android:name=".ui.screen.WebViewKt"
      android:windowSoftInputMode="adjustPan"
      android:exported="false" />

    <meta-data
      android:name="io.sentry.dsn"
      android:value="https://d25da3ad698c486c9117bcb036c0c30a@o339163.ingest.sentry.io/6688736" />
    <!--
 Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
       We recommend adjusting this value in production.
        -->
   <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
    <meta-data
      android:name="io.sentry.traces.user-interaction.enable"
      android:value="true" /> <!-- Performance Monitoring -->
    <meta-data
      android:name="io.sentry.traces.sample-rate"
      android:value="1.0" />
  </application>

</manifest>